@import "bootstrap";
@import "font-awesome";

body {
    // image_url tells Rails to look in the app/assets/images folder
    background: image_url('saya.png');
    font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.navbar {
    background: image_url('dark_embroidery.png');
    // https://www.w3schools.com/css/css3_shadows.asp
    // box-shadow: horizontal vertical blur color;
    box-shadow: 0px 2px 3px grey;
}

.navbar-inverse .navbar-brand {
    color: #DB3550;
    font-family: 'Bellefair', serif;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}

.pagination {
  margin: 2.5px auto;
  text-align: center;
}

.right {
  text-align: right;
}

.help-block {
  color: #ff3333;
  background-color: #ffeeee;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
}

#map {
  height: 300px;
}

.clear {
  clear: both;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}